ansi2html
blinker
certifi
charset-normalizer
click
dash
dash-bootstrap-components
dash-html-components
dash-iconify
dash-mantine-components
dash-table
gunicorn
idna
importlib_metadata
itsdangerous
Jinja2
MarkupSafe
nest-asyncio
numpy
pandas
plotly
python-dateutil
pytz
requests
retrying
six
tenacity
typing_extensions
urllib3
Werkzeug
zipp
